<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title><p class="centerText">Zumba</p></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <img class="homeImage" src="/assets/images/zumbaa.jpg" alt="zumbaImage"/>
    <ion-grid>
      <ion-row align-items-center>
        <ion-col>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-title id="FitnessText"><article><p>Lessen: woensdag om 19u45.</p><hr><p>Zumba betekent letterlijk "snel bewegen en lol hebben".
            Normale workouts zijn vervelend en saai en ze sporen u alleen maar tot één ding aan, namelijk om te stoppen! Maar nu is er een nieuwe manier om snel gewicht te verliezen, van die zwembandjes af te komen en het goed en sexy gevormd figuur te krijgen dat u altijd al wilde. En het mooie van alles is dat echt leuk is met Zumba.
            
            De revolutionaire Zumba is geïnspireerd door de Latijns-Amerikaanse dans en is een vetverbrandende, spierverstevigende workout. Met Zumba heeft u nooit het gevoel dat u bezig bent met een workout, omdat het zo leuk is!
            
            Zumba is conditie opbouwen en afslanken! Vetverbranding en spieren kweken vormen voor veel mensen de basis tot gewichtsverlies en de vorming van een mooier figuur.
            
            Kom gerust eens een kijkje nemen.
            
            Veel plezier!!</p></article></ion-card-title>
      </ion-card-header>    
    </ion-card>
  </ion-col>
  </ion-row>
  </ion-grid><br><hr>
    <ion-card id="urencard">
      <ion-card-header>
        <ion-card-title id="introText">
    Tarieven: 
    </ion-card-title>
    </ion-card-header>
    <ion-card-content id="introText">
     1 Beurt: &euro; 10<br>
     10-Beurtenkaart: &euro; 65<br>
     20-Beurtenkaart: &euro; 120<br><hr />
     Jaarlijks lidgeld: &euro; 15
    </ion-card-content>
    <ion-card-header>
        <ion-card-title id="introText">
    Combo Bodyfit + Zumba + Fitness: 
    </ion-card-title>
    </ion-card-header>
    <ion-card-content id="introText">
        1 Maand: &euro; 80<br>
        3 Maanden: &euro; 200<br>
        1 Jaar: &euro; 450<br>
        Jaarlijks lidgeld: &euro; 15
       </ion-card-content>
    </ion-card><br>
    <ion-card>
        <ion-card-header>
          <ion-card-title id="introText">
       Contact:
      </ion-card-title>
      </ion-card-header>
      <ion-card-content id="introText">
       Voorstehoeve 42, 1730 Mollem<br>
       Telefoon: 02/452.63.61<br>
       GSM: 0476/31.44.18<br>
       Email: tiptopfitness@skynet.be<br>
      </ion-card-content>
      </ion-card><br>

</ion-content>
