<ion-header>
    <form (ngSubmit)="logout()" *ngIf="check() == true"><ion-button class="placeButton" color="danger" type="Submit">Uitloggen</ion-button></form>
    <form (ngSubmit)="register()" *ngIf="check() == false"><ion-button class="placeButton"  type="Submit">Registreren</ion-button></form>
    <form (ngSubmit)="login()" *ngIf="check() == false"><ion-button class="placeButton"  type="Submit">Inloggen</ion-button></form>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title><p class="centerText">Kinderdans</p></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <img class="homeImage" src="/assets/images/kids.jpg" alt="zumbaImage"/>
    <ion-grid>
      <ion-row align-items-center>
        <ion-col>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-title id="FitnessText"><article><p>Wat houdt kinderdans in?


            Voor kinderen die niet kunnen stilzitten met of zonder gevoel voor ritme.
            Alles wordt hier perfect aangeleerd door mensen met ervaring en zeer goed kunnen omgaan met kinderen.
            Ze kunnen er al hun energie kwijt door op een speelse en aangename manier danspasjes aan te leren.
            Jaarlijks worden hun geduld en werk beloond en kunnen ze dit tonen aan familie en vrienden.
            
            Kom gerust eens langs voor meer info.</p></article></ion-card-title>
      </ion-card-header>    
    </ion-card>
  </ion-col>
  </ion-row>
  </ion-grid><br><hr>
    <ion-card id="urencard">
      <ion-card-header>
        <ion-card-title id="introText">
    Tarieven: 
    </ion-card-title>
    </ion-card-header>
    <ion-card-content id="introText">
     1 Beurt: &euro; 8<br>
     10-Beurtenkaart van 3 tot 5 jaar: &euro; 45<br>
     10-Beurtenkaart van 6 tot 13 jaar: &euro; 60<br>
     20-Beurtenkaart van 6 tot 13 jaar: &euro; 110<br><hr />
     Jaarlijks lidgeld: &euro; 15
    </ion-card-content>
    <ion-card-header>
        <ion-card-title id="introText">
    Lessen: 
    </ion-card-title>
    </ion-card-header>
    <ion-card-content id="introText">
        <b>Zaterdag</b><br>
       10u00: van 3 tot 5 jaar<br>
       10u45: van 6 tot 7 jaar<br>
       11u45: van 8 tot 10 jaar<br>
       <b>Woensdag</b><br>
       18u30: van 11 tot 13 jaar<br>
       </ion-card-content>
    </ion-card><br>
    <ion-card>
        <ion-card-header>
          <ion-card-title id="introText">
       Contact:
      </ion-card-title>
      </ion-card-header>
      <ion-card-content id="introText">
       Voorstehoeve 42, 1730 Mollem<br>
       Telefoon: 02/452.63.61<br>
       GSM: 0476/31.44.18<br>
       Email: tiptopfitness@skynet.be<br>
      </ion-card-content>
      </ion-card><br>

</ion-content>
