<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
      <ion-title><p class="centerText">Details</p></ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-card id="urencard">
        <ion-card-header>
          <ion-card-title id="introText">
      Details: 
      </ion-card-title>
      </ion-card-header>
      <ion-card-content id="introText">
       
      </ion-card-content>
      </ion-card><br>
      <ion-card>
          <ion-card-header>
            <ion-card-title id="introText">
         Contact:
        </ion-card-title>
        </ion-card-header>
        <ion-card-content id="introText">
         Voorstehoeve 42, 1730 Mollem<br>
         Telefoon: 02/452.63.61<br>
         GSM: 0476/31.44.18<br>
         Email: tiptopfitness@skynet.be<br>
        </ion-card-content>
        </ion-card><br>
  
  </ion-content>
  