<ion-header>
    <form (ngSubmit)="logout()" *ngIf="check() == true"><ion-button class="placeButton" color="danger" type="Submit">Uitloggen</ion-button></form>
    <form (ngSubmit)="register()" *ngIf="check() == false"><ion-button class="placeButton"  type="Submit">Registreren</ion-button></form>
    <form (ngSubmit)="login()" *ngIf="check() == false"><ion-button class="placeButton"  type="Submit">Inloggen</ion-button></form>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
      <ion-title><p class="centerText">Hip-Hop & New Style</p></ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <img class="homeImage" src="/assets/images/hip.jpg" alt="hiphopImage"/>
      <ion-grid>
        <ion-row align-items-center>
          <ion-col>
      <ion-card class="welcome-card">
        <ion-card-header>
          <ion-card-title id="FitnessText"><article><p>Lessen: woensdag om 17u30 vanaf 13 jaar.</p><hr><p>Wat houdt Hip Hop New Style in?<br>
            
            Deze stijl leunt dichter aan bij de oorspronkelijke Streetdance die onstond eind jaren '70. De stijl werd minder gecomercialiseerd en wordt enkel gedanst op Urban music (R&B, Rap, Dubstep, House,...). De bewegingen zijn complexer dan Streetdance, voor deze stijl is enige danservaring vereist.
            In iedere les wordt aandacht besteed aan opwarming,verplaatsing, en danscombinaties. 
            Plezier beleven blijft belangrijk, maar al heel snel kan iedereen een dansje waar je van staat te kijken!
            
            Kom gerust eens langs voor meer info.</p></article></ion-card-title>
        </ion-card-header>    
      </ion-card>
    </ion-col>
    </ion-row>
    </ion-grid><br><hr>
      <ion-card id="urencard">
        <ion-card-header>
          <ion-card-title id="introText">
      Tarieven: 
      </ion-card-title>
      </ion-card-header>
      <ion-card-content id="introText">
      
       10-Beurtenkaart: &euro; 60<br>
       20-Beurtenkaart: &euro; 110<br><hr />
       Jaarlijks lidgeld: &euro; 15
      </ion-card-content>
      </ion-card><br>
      <ion-card>
          <ion-card-header>
            <ion-card-title id="introText">
         Contact:
        </ion-card-title>
        </ion-card-header>
        <ion-card-content id="introText">
         Voorstehoeve 42, 1730 Mollem<br>
         Telefoon: 02/452.63.61<br>
         GSM: 0476/31.44.18<br>
         Email: tiptopfitness@skynet.be<br>
        </ion-card-content>
        </ion-card><br>
  
  </ion-content>
  