<ion-header>
    <form (ngSubmit)="logout()" *ngIf="check() == true"><ion-button class="placeButton" color="danger" type="Submit">Uitloggen</ion-button></form>
    <form (ngSubmit)="register()" *ngIf="check() == false"><ion-button class="placeButton"  type="Submit">Registreren</ion-button></form>
    <form (ngSubmit)="login()" *ngIf="check() == false"><ion-button class="placeButton"  type="Submit">Inloggen</ion-button></form>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
      <ion-title><p class="centerText">Bodyfit</p></ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <img class="homeImage" src="/assets/images/bodyfit.jpg" alt="bodyfitImage"/>
      <ion-grid>
        <ion-row align-items-center>
          <ion-col>
      <ion-card class="welcome-card">
        <ion-card-header>
          <ion-card-title id="FitnessText"><article><p>Lessen: donderdag om 20u30.</p><hr><p>Wat houdt Bodyfit in?<br>
              Het nieuwste en ultieme programma op basis van toegankelijke en afwisselende combinaties met als doel een optimaal trainingsresultaat. 
              Een bodyfit workout is low impact en high fun! 
              Vanwege het hoge calorieverbruik, de verschillende bewegingen en vele herhalingen is het de manier om in shape te komen. 
              Het brengt u in vorm, corrigeert uw figuur en verbetert de conditie! 
              Maar bodyfit werkt ook voor het bovenlichaam in de vorm van spierversterkende oefeningen.
              
              Bodyfit geschikt voor iedereen die het leuk vindt om op muziek te trainen. 
              Bodyfit is de beste en snelste manier om op billen, benen en buik af te slanken.
              Kom gerust eens een kijkje nemen.
              
              Veel plezier!!</p></article></ion-card-title>
        </ion-card-header>    
      </ion-card>
    </ion-col>
    </ion-row>
    </ion-grid><br><hr>
      <ion-card id="urencard">
        <ion-card-header>
          <ion-card-title id="introText">
      Tarieven: 
      </ion-card-title>
      </ion-card-header>
      <ion-card-content id="introText">
       1 Beurt: &euro; 10<br>
       10-Beurtenkaart: &euro; 65<br>
       20-Beurtenkaart: &euro; 120<br><hr />
       Jaarlijks lidgeld: &euro; 15
      </ion-card-content>
      <ion-card-header>
          <ion-card-title id="introText">
      Combo Bodyfit + Zumba + Fitness: 
      </ion-card-title>
      </ion-card-header>
      <ion-card-content id="introText">
          1 Maand: &euro; 80<br>
          3 Maanden: &euro; 200<br>
          1 Jaar: &euro; 450<br>
          Jaarlijks lidgeld: &euro; 15
         </ion-card-content>
      </ion-card><br>
      <ion-card>
          <ion-card-header>
            <ion-card-title id="introText">
         Contact:
        </ion-card-title>
        </ion-card-header>
        <ion-card-content id="introText">
         Voorstehoeve 42, 1730 Mollem<br>
         Telefoon: 02/452.63.61<br>
         GSM: 0476/31.44.18<br>
         Email: tiptopfitness@skynet.be<br>
        </ion-card-content>
        </ion-card><br>
  
  </ion-content>
  