<ion-header>
    <form (ngSubmit)="logout()" *ngIf="check() == true"><ion-button class="centerButton" color="danger" type="Submit">Uitloggen</ion-button></form>
    <form (ngSubmit)="register()" *ngIf="check() == false"><ion-button class="centerButton"  type="Submit">Registreren</ion-button></form>
    <form (ngSubmit)="login()" *ngIf="check() == false"><ion-button class="centerButton"  type="Submit">Inloggen</ion-button></form>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Kalender</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
