<ion-header>
    <form (ngSubmit)="logout()" *ngIf="check() == true"><ion-button class="placeButton" color="danger" type="Submit">Uitloggen</ion-button></form>
    <form (ngSubmit)="register()" *ngIf="check() == false"><ion-button class="placeButton"  type="Submit">Registreren</ion-button></form>
    <form (ngSubmit)="login()" *ngIf="check() == false"><ion-button class="placeButton"  type="Submit">Inloggen</ion-button></form>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
      <ion-title><p class="centerText">Karate</p></ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <img class="homeImage" src="/assets/images/kara.jpg" alt="karateImage"/>
      <ion-grid>
        <ion-row align-items-center>
          <ion-col>
      <ion-card class="welcome-card">
        <ion-card-header>
          <ion-card-title id="FitnessText"><article><p>Lessen: maandag om 19u15 en donderdag om 19u00.</p><hr><p>

              De oorsprong van het karate vinden we terug in China waar de monniken een gevechtsmethode ontwikkelden om zich tegen rovers te beschermen.
              Omdat deze kloosterlingen geen wapens mochten dragen kwamen zij op het idee om zich met de blote handen en voeten te verdedigen. 
              Karate (letterlijk "lege hand") = vechten zonder gebruik te maken van wapens. 
              Het karate is een uitstekende manier om zowel lichamelijk als geestelijk in conditie te blijven.
              
              Kom gerust eens langs voor meer info.</p></article></ion-card-title>
        </ion-card-header>    
      </ion-card>
    </ion-col>
    </ion-row>
    </ion-grid><br><hr>
      <ion-card id="urencard">
        <ion-card-header>
          <ion-card-title id="introText">
      Tarieven: 
      </ion-card-title>
      </ion-card-header>
      <ion-card-content id="introText">
       10-Beurtenkaart voor kinderen: &euro; 45<br>
       20-Beurtenkaart voor kinderen: &euro; 75<br>
       10-Beurtenkaart voor volwassenen (18+): &euro; 60<br>
       20-Beurtenkaart voor volwassenen (18+): &euro; 100<br>
      </ion-card-content>
      </ion-card><br>
      <ion-card>
          <ion-card-header>
            <ion-card-title id="introText">
         Contact:
        </ion-card-title>
        </ion-card-header>
        <ion-card-content id="introText">
         Voorstehoeve 42, 1730 Mollem<br>
         Telefoon: 02/452.63.61<br>
         GSM: 0476/31.44.18<br>
         Email: tiptopfitness@skynet.be<br>
        </ion-card-content>
        </ion-card><br>
  
  </ion-content>
  